<Footer id="footer" class="site-footer overflow-hidden" Style="background: aliceblue;">
    <div class="container">
        <div class="row">
            <div class="footer-top-area">
                <div class="row d-flex flex-wrap justify-content-between">
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu">
                            <img src="images/logo-nike.png" alt="logo">
                            <p>Chào mừng đến với MeoMeoShop – thế giới giày chất lượng và phong cách cho mọi
                                hoạt động!</p>
                            <div class="social-links">
                                <ul class="d-flex list-unstyled">
                                    <li>
                                        <a href="#">
                                            <svg class="facebook">
                                                <use xlink:href="#facebook" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="instagram">
                                                <use xlink:href="#instagram" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="twitter">
                                                <use xlink:href="#twitter" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="linkedin">
                                                <use xlink:href="#linkedin" />
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <svg class="youtube">
                                                <use xlink:href="#youtube" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 pb-3">
                        <div class="footer-menu text-uppercase">
                            <h5 class="widget-title pb-2">Liên kết nhanh</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item pb-2">
                                    <a href="#">Về chúng tôi</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Cửa hàng</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Bài viết</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Liên hệ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu text-uppercase">
                            <h5 class="widget-title pb-2">Hỗ trợ & Thông tin</h5>
                            <ul class="menu-list list-unstyled">
                                <li class="menu-item pb-2">
                                    <a href="#">Theo dõi đơn hàng</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Chính sách hoàn trả</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Giao hàng & Vận chuyển</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Liên hệ</a>
                                </li>
                                <li class="menu-item pb-2">
                                    <a href="#">Câu hỏi thường gặp</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 pb-3">
                        <div class="footer-menu contact-item">
                            <h5 class="widget-title text-uppercase pb-2">Liên hệ</h5>
                            <p>Bạn có thắc mắc hoặc gợi ý? <a
                                    href="mailto:meomeoshop.io.vn">meomeoshop.io.vn.noreply@gmail.com</a>
                            </p>
                            <p>Cần hỗ trợ? Hãy gọi cho chúng tôi. <a href="tel:0347324430"> +84 347 324 430</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-bottom">
        <div class="container">
            <div class="row d-flex flex-wrap justify-content-between">
                <div class="col-md-4 col-sm-6">
                    <div class="Shipping d-flex">
                        <p>Chúng tôi vận chuyển với:</p>
                        <div class="card-wrap ps-2">
                            <img src="images/dhl.png" alt="DHL">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="payment-method d-flex">
                        <p>Các phương thức thanh toán:</p>
                        <div class="card-wrap ps-2">
                            <img src="images/visa.jpg" alt="Visa">
                            <img src="images/mastercard.jpg" alt="MasterCard">
                            <img src="images/paypal.jpg" alt="PayPal">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="copyright">
                        <p>© Bản quyền 2025 MeoMeoShop.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</Footer>


@code {

}