@using MeoMeo.PORTAL.Components.Loading
@inherits LayoutComponentBase

<div class="page">
    <main class="main-content">
        <NavMenu />
        <div class="grid">
            <GlobalSpin>
                @Body
            </GlobalSpin>
        </div>
        <FooterComponent />
    </main>
</div>