@using MeoMeo.PORTAL.Components.Loading
@inherits LayoutComponentBase

<div class="page">
    <main class="main-content">
        <NavMenu />
        <div class="grid">
            <GlobalSpin>
                @Body
                <div class="contact-box">
                    <div class="kh-fbm">
                        <div class="phone-box"></div>
                        <div class="img-phone">
                            <a href="@("https://m.me/9037777602974589")" 
                               target="_blank" rel="noopener noreferrer">
                                <img alt="meomeoshop.io.vn" loading="lazy" src="/images/contacts/messenger.png" />
                            </a>
                        </div>
                    </div>
                    <div class="kh-zalo">
                        <div class="phone-box"></div>
                        <div class="img-phone">
                            <a href="@($"https://zalo.me/0347324430")" 
                               target="_blank" rel="noopener noreferrer">
                                <img loading="lazy" alt="meomeoshop.io.vn" src="/images/contacts/zalo.png" />
                            </a>
                        </div>
                    </div>
                    <div class="kh-phone">
                        <div class="phone-box"></div>
                        <div class="img-phone">
                            <a href="@($"tel:{0347324430}")" 
                               target="_blank" rel="noopener noreferrer">
                                <img loading="lazy" alt="meomeoshop.io.vn" src="/images/contacts/phone.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </GlobalSpin>
        </div>
        <FooterComponent />
    </main>
</div>
