@using ButtonType = AntDesign.ButtonType
@inject IJSRuntime JS
@inject NavigationManager Navigation

<header id="header" class="site-header fixed-top">
    <GridRow>
        <GridCol Span="22" Offset="1">
            <nav id="header-nav" class="navbar navbar-expand-lg pt-3 mb-3">
                <div class="container-fluid d-flex justify-content-between align-items-center ">
                    <div>
                        <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
                            <img src="images/logo-nike.png" class="logo">
                        </NavLink>
                        <button class="navbar-toggler d-flex justify-content-center d-lg-none order-3 p-2" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <svg class="navbar-icon">
                                <use xlink:href="#navbar-icon"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
                        <div class="offcanvas-header px-4 pb-0">
                            <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                                <img src="images/logo-nike.png" class="logo">
                            </a>
                            <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas"
                                aria-label="Close" data-bs-target="#bdNavbar"></button>
                        </div>
                        <div class="offcanvas-body">
                            <Affix>
                                <Anchor ShowInkInFixed="false">
                                    <ul id="navbar"
                                        class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3">
                                        <span @onclick="() => NavigateToPage(0)" class="me-4  custom-link">Trang
                                            Chủ</span>
                                        <span @onclick="() => NavigateToPage(1)" class="me-4 custom-link">Test Khách
                                            hàng</span>
                                        <AnchorLink class="nav-link me-4" Href="/#product" Title="Dịch vụ" />
                                        <AnchorLink class="nav-link me-4" Href="/#product" Title="Sản Phẩm" />
                                        <AnchorLink class="nav-link me-4" Href="/#product"
                                            Title="Chính sách bảo hành" />
                                        <AnchorLink class="nav-link me-4" Href="/#yearly-sale" Title="Giảm giá" />
                                        <AnchorLink class="nav-link me-4" Href="/#latest-blog" Title="Bài viết" />
                                        <AnchorLink class="nav-link me-4" Href="/#" Title="Chính sách bảo hành" />
                                        <li class="nav-item dropdown">
                                            <a class="nav-link me-4 dropdown-toggle link-dark" data-bs-toggle="dropdown"
                                                href="#" role="button" aria-expanded="false">Pages</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item">Về chúng
                                                        tôi</a>
                                                </li>
                                                <li><a class="dropdown-item">Bài viết</a></li>
                                                <li><a class="dropdown-item">Cửa hàng</a></li>
                                                <li><a class="dropdown-item">Giỏ hàng</a></li>
                                                <li><a class="dropdown-item">Thanh toán</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item">Tư
                                                        vấn</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item">Sản
                                                        phẩm</a>
                                                </li>
                                                <li><a class="dropdown-item">Liên hệ</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </Anchor>
                            </Affix>
                        </div>
                    </div>
                    <div class="user-items">
                        <Button Type="@ButtonType.Link" Class="search-button ">
                            <svg class="search w-24 h-24">
                                <use xlink:href="#search"></use>
                            </svg>
                        </Button>
                        <Dropdown>
                            <ChildContent>
                                <Button Type="@ButtonType.Link" Class="dropdown-toggle">
                                    <Icon Type="user" />
                                </Button>
                            </ChildContent>
                            <Overlay>
                                <Menu>
                                    <MenuItem Key="profile">
                                    <Icon Type="user" />
                                    <a href="/account/profile">Hồ sơ</a>
                                    </MenuItem>
                                    <MenuDivider />
                                    <MenuItem Key="logout">
                                    <Icon Type="logout" />
                                    Đăng xuất
                                    </MenuItem>
                                </Menu>
                            </Overlay>
                        </Dropdown>
                        <Button Type="@ButtonType.Link">
                            <svg class="cart w-24 h-24">
                                <use xlink:href="#cart"></use>
                            </svg>
                        </Button>

                    </div>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                            <symbol id="search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                <title>Search</title>
                                <path fill="currentColor"
                                    d="M19 3C13.488 3 9 7.488 9 13c0 2.395.84 4.59 2.25 6.313L3.281 27.28l1.439 1.44l7.968-7.969A9.922 9.922 0 0 0 19 23c5.512 0 10-4.488 10-10S24.512 3 19 3zm0 2c4.43 0 8 3.57 8 8s-3.57 8-8 8s-8-3.57-8-8s3.57-8 8-8z" />
                            </symbol>
                            <symbol xmlns="http://www.w3.org/2000/svg" id="user" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                            </symbol>
                            <symbol xmlns="http://www.w3.org/2000/svg" id="cart" viewBox="0 0 16 16">
                                <path
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                            </symbol>
                            <symbol xmlns="http://www.w3.org/2000/svg" id="chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                            </symbol>
                            <symbol xmlns="http://www.w3.org/2000/svg" id="chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                            </symbol>
                        </svg>
                        <div class="search-popup">
                            <div class="search-popup-container">
                                <form role="search" method="get" class="search-form" action="">
                                    <input type="search" id="search-form" class="search-field"
                                        placeholder="Type and press enter" value="" name="s" />
                                    <button type="submit" class="search-submit">
                                        <svg class="search">
                                            <use xlink:href="#search"></use>
                                        </svg>
                                    </button>
                                </form>
                                <h5 class="cat-list-title">Browse Categories</h5>
                                <ul class="cat-list">
                                    <li class="cat-list-item"><a href="#" title="Mobile Phones">Mobile Phones</a></li>
                                    <li class="cat-list-item"><a href="#" title="Smart Watches">Smart Watches</a></li>
                                    <li class="cat-list-item"><a href="#" title="Headphones">Headphones</a></li>
                                    <li class="cat-list-item"><a href="#" title="Accessories">Accessories</a></li>
                                    <li class="cat-list-item"><a href="#" title="Monitors">Monitors</a></li>
                                    <li class="cat-list-item"><a href="#" title="Speakers">Speakers</a></li>
                                    <li class="cat-list-item"><a href="#" title="Memory Cards">Memory Cards</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </GridCol>
    </GridRow>
</header>
@code {
    private IJSObjectReference? _module;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                _module = await JS.InvokeAsync
                <IJSObjectReference>
                ("import", "/js/site.js");
                await _module.InvokeVoidAsync("searchPopup");
                await _module.InvokeVoidAsync("initProductQty");

            }
            catch (JSDisconnectedException exception)
            {
                Console.WriteLine(exception.Message);
            }
        }
    }
    private void NavigateToPage(int page)
    {
        switch (page)
        {
            case 0:
                Navigation.NavigateTo("/");
                break;
            case 1:
                Navigation.NavigateTo("/manage-customer");
                break;

            default:
                Navigation.NavigateTo("/");
                break;
        }
    }
}