@* @inherits LayoutView *@
@* @using MeoMeo.PORTAL.Components.Pages.ProfilePages *@
@* *@
@* <div class="profile-layout"> *@
@*     $1$ @Body #1# *@
@* </div> *@
@* *@
@* @code { *@
@*     // This layout component will be used by all profile pages *@
@* } *@
